@model Calculator

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .text-center{
        background-color:green;
        border:2px solid black;
    }
</style>
<form asp-action=""Index"">
    <div class="text-center">
        <h1 class="display-4">Calculator</h1>
        <p><label>First Value</label></p>
        <p><input type="number" asp-for="value1" /></p>
        <p><label>Second Value</label></p>
        <p><input type="number" asp-for="value2" /></p>

        <p>
            <input type="submit" value="add" class="btn btn-primary" asp-for="calculate" />
            <input type="submit" value="sub" class="btn btn-danger" asp-for="calculate" />
            <input type="submit" value="mul" class="btn btn-success" asp-for="calculate" />
            <input type="submit" value="divi" class="btn btn-warning" asp-for="calculate" />
        </p>

        <p><label>Result</label></p>
        <p><input type="number" asp-for="@ViewData["result"]" /></p>

    </div>
</form>
